.card {
    animation: giro 1s 1;
    background-color: rgb(253, 249, 243);
    border-radius: 20px;
    cursor: default;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 500px;
    height: 500px;
}

.cardBox {
    margin: 1% 0 0 1%;
    transition: all 0.3s ease 0s;
}
.cardBox:hover .card {
    transform: rotateY( 180deg);
}

<!---->
.card .front,
.card .back {
  backface-visibility: hidden;
  background-color: rgb(253, 249, 243) !important;
  box-sizing: border-box;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}

.card .front strong {
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
  font-size: medium;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

img {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 70px;
}